# Scrapping The flight ticket price In interval of 1day, 15 day , 30 day

In [1]:
# ASSUMPTIONS
# 1] I have assumed some location for departure and arrival
# 2] I have kept all classes mixed (Economy, business, general)
# 3] I have scrapped the data by keeping 3 Jan 2023 as the reference date and assumed intervals of 1 day, 15 days, and 30 days from 3jan2023
# 4] I have scrapped the data from one site Yatra.com
# 5] I have also kept the price range unlimited
# 6] I have kept stops from non-stop to a maximum 3 stop 
# 7] I have kept all 24 hrs flights not particular timing

## Delhi-Mumbai 1 day interval

In [42]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [43]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [44]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [45]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [46]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)

In [47]:
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)

In [48]:
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)

In [54]:
#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)

In [50]:
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])

In [55]:
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)

In [57]:
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)

In [59]:
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [66]:
#creating dataframe 

DF1=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF1

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,IndiGo,New Delhi,Mumbai,23:00,01:20,Non Stop,2h 20m,"6,059",4/1/2023
1,Go First,New Delhi,Mumbai,10:40,16:15,1 Stop,5h 35m,"6,873",4/1/2023
2,Go First,New Delhi,Mumbai,10:25,18:35,1 Stop,8h 10m,"6,873",4/1/2023
3,Go First,New Delhi,Mumbai,22:00,06:50,1 Stop,8h 50m,"6,873",4/1/2023
4,Go First,New Delhi,Mumbai,20:00,22:10,Non Stop,2h 10m,"6,901",4/1/2023
...,...,...,...,...,...,...,...,...,...
141,Air India,New Delhi,Mumbai,09:45,22:45,1 Stop,13h 00m,"27,838",4/1/2023
142,Air India,New Delhi,Mumbai,21:50,09:55,1 Stop,12h 05m,"28,110",4/1/2023
143,Vistara,New Delhi,Mumbai,05:35,11:25,1 Stop,5h 50m,"40,290",4/1/2023
144,Air India,New Delhi,Mumbai,10:55,16:50,1 Stop,5h 55m,"43,272",4/1/2023
145,Air India,New Delhi,Mumbai,10:55,00:20,1 Stop,13h 25m,"43,272",4/1/2023

In [67]:
driver.close()

In [68]:
DF1.to_csv('flight_data_1.csv')

## Delhi-Mumbai 30 day interval

In [231]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [232]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [233]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [234]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [235]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [236]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [237]:
#creating dataframe 

DF14=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/2/2023'})
DF14

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Go First,New Delhi,Mumbai,06:00,10:45,1 Stop,4h 45m,"4,240",4/2/2023
1,Go First,New Delhi,Mumbai,06:00,16:15,1 Stop,10h 15m,"4,240",4/2/2023
2,IndiGo,New Delhi,Mumbai,06:20,16:10,1 Stop,9h 50m,"4,838",4/2/2023
3,IndiGo,New Delhi,Mumbai,23:40,05:50,1 Stop,6h 10m,"4,948",4/2/2023
4,IndiGo,New Delhi,Mumbai,05:00,10:05,1 Stop,5h 05m,"5,102",4/2/2023
...,...,...,...,...,...,...,...,...,...
155,IndiGo,New Delhi,Mumbai,12:55,19:55,1 Stop,7h 00m,"11,362",4/2/2023
156,IndiGo,New Delhi,Mumbai,15:10,21:25,1 Stop,6h 15m,"11,572",4/2/2023
157,IndiGo,New Delhi,Mumbai,16:55,21:25,1 Stop,4h 30m,"11,782",4/2/2023
158,IndiGo,New Delhi,Mumbai,11:25,21:25,1 Stop,10h 00m,"12,097",4/2/2023
159,Go First,New Delhi,Mumbai,11:50,18:10,1 Stop,6h 20m,"13,694",4/2/2023

In [238]:
DF14.to_csv('flight_data_14.csv')

In [239]:
driver.close()

## Delhi-Mumbai 15 day interval

In [241]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [242]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [243]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [244]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [245]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [246]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [247]:
#creating dataframe 

DF15=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'19/1/2023'})
DF15

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Vistara,New Delhi,Mumbai,06:30,06:15,1 Stop,23h 45m,"4,102",19/1/2023
1,IndiGo,New Delhi,Mumbai,05:00,10:05,1 Stop,5h 05m,"4,187",19/1/2023
2,IndiGo,New Delhi,Mumbai,23:40,05:50,1 Stop,6h 10m,"4,187",19/1/2023
3,Vistara,New Delhi,Mumbai,21:20,06:15,1 Stop,8h 55m,"4,349",19/1/2023
4,IndiGo,New Delhi,Mumbai,06:20,10:55,1 Stop,4h 35m,"4,587",19/1/2023
...,...,...,...,...,...,...,...,...,...
154,Vistara,New Delhi,Mumbai,09:05,21:40,1 Stop,12h 35m,"10,208",19/1/2023
155,IndiGo,New Delhi,Mumbai,05:15,09:45,1 Stop,4h 30m,"10,417",19/1/2023
156,Go First,New Delhi,Mumbai,10:45,18:25,1 Stop,7h 40m,"11,372",19/1/2023
157,Go First,New Delhi,Mumbai,10:45,19:30,1 Stop,8h 45m,"12,472",19/1/2023
158,Go First,New Delhi,Mumbai,09:45,18:10,1 Stop,8h 25m,"14,743",19/1/2023

In [248]:
DF15.to_csv('flight_data_15.csv')

In [249]:
driver.close()

## Goa-Mumbai 1 day interval

In [76]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [77]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [78]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [79]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('Goa')

In [80]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [81]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(5000):

    driver.execute_script("window.scrollBy(0,500000)")

In [82]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)

In [83]:
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)

In [84]:
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)

In [85]:
#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)

In [86]:
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])

In [87]:
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)

In [88]:
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)

In [89]:
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [90]:
#creating dataframe 

DF2=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF2

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,SpiceJet,Goa,Mumbai,22:50,23:50,Non Stop,1h 00m,"6,717",4/1/2023
1,Go First,Goa,Mumbai,18:15,19:30,Non Stop,1h 15m,"7,401",4/1/2023
2,Go First,Goa,Mumbai,17:05,18:25,Non Stop,1h 20m,"7,401",4/1/2023
3,Go First,Goa,Mumbai,23:55,01:20,Non Stop,1h 25m,"7,401",4/1/2023
4,IndiGo,Goa,Mumbai,18:45,19:55,Non Stop,1h 10m,"7,504",4/1/2023
5,Alliance Air,Goa,Mumbai,21:00,22:30,Non Stop,1h 30m,"7,924",4/1/2023
6,IndiGo,Goa,Mumbai,16:30,17:45,Non Stop,1h 15m,"8,764",4/1/2023
7,IndiGo,Goa,Mumbai,23:45,01:00,Non Stop,1h 15m,"9,394",4/1/2023
8,Air Asia,Goa,Mumbai,02:55,04:00,Non Stop,1h 05m,"10,025",4/1/2023
9,SpiceJet,Goa,Mumbai,13:05,14:20,Non Stop,1h 15m,"10,077",4/1/2023
10,Go First,Goa,Mumbai,13:15,14:40,Non Stop,1h 25m,"10,341",4/1/2023
11,Vistara,Goa,Mumbai,00:40,02:00,Non Stop,1h 20m,"10,864",4/1/2023
12,Vistara,Goa,Mumbai,13:20,14:45,Non Stop,1h 25m,"10,864",4/1/2023
13,SpiceJet,Goa,Mumbai,17:05,18:20,Non Stop,1h 15m,"11,023",4/1/2023
14,IndiGo,Goa,Mumbai,13:05,14:25,Non Stop,1h 20m,"12,334",4/1/2023
15,IndiGo,Goa,Mumbai,06:45,07:55,Non Stop,1h 10m,"13,384",4/1/2023
16,SpiceJet,Goa,Mumbai,05:10,06:25,Non Stop,1h 15m,"13,543",4/1/2023
17,Air India,Goa,Mumbai,04:20,21:30,1 Stop,17h 10m,"14,508",4/1/2023
18,Air India,Goa,Mumbai,04:20,23:20,1 Stop,19h 00m,"14,508",4/1/2023
19,Air India,Goa,Mumbai,04:20,11:30,1 Stop,7h 10m,"15,033",4/1/2023
20,Air India,Goa,Mumbai,23:10,00:20,Non Stop,1h 10m,"16,608",4/1/2023
21,Air India,Goa,Mumbai,06:50,08:10,Non Stop,1h 20m,"16,608",4/1/2023
22,Air India,Goa,Mumbai,15:25,16:50,Non Stop,1h 25m,"16,608",4/1/2023
23,Vistara,Goa,Mumbai,14:40,23:20,1 Stop,8h 40m,"21,989",4/1/2023
24,Vistara,Goa,Mumbai,14:40,20:15,1 Stop,5h 35m,"22,829",4/1/2023
25,Vistara,Goa,Mumbai,14:40,20:40,1 Stop,6h 00m,"22,829",4/1/2023
26,Vistara,Goa,Mumbai,14:40,13:05,1 Stop,22h 25m,"23,601",4/1/2023
27,Vistara,Goa,Mumbai,14:40,08:20,1 Stop,17h 40m,"24,546",4/1/2023
28,Vistara,Goa,Mumbai,14:40,10:10,1 Stop,19h 30m,"24,546",4/1/2023
29,Vistara,Goa,Mumbai,22:45,00:15,Non Stop,1h 30m,"24,829",4/1/2023
30,Vistara,Goa,Mumbai,14:40,11:25,1 Stop,20h 45m,"25,806",4/1/2023
31,Air India,Goa,Mumbai,14:05,22:20,1 Stop,8h 15m,"25,879",4/1/2023
32,Air India,Goa,Mumbai,14:05,23:35,1 Stop,9h 30m,"25,879",4/1/2023
33,Air India,Goa,Mumbai,14:05,00:45,1 Stop,10h 40m,"25,879",4/1/2023
34,Air India,Goa,Mumbai,14:05,09:15,1 Stop,19h 10m,"25,879",4/1/2023
35,Air India,Goa,Mumbai,14:05,10:20,1 Stop,20h 15m,"25,879",4/1/2023
36,Air India,Goa,Mumbai,14:05,11:20,1 Stop,21h 15m,"25,879",4/1/2023
37,Air India,Goa,Mumbai,14:05,12:25,1 Stop,22h 20m,"25,879",4/1/2023
38,Air India,Goa,Mumbai,14:05,16:20,1 Stop,26h 15m,"25,879",4/1/2023
39,Air India,Goa,Mumbai,14:05,18:15,2 Stop(s),28h 10m,"25,879",4/1/2023
40,Vistara,Goa,Mumbai,14:40,21:40,1 Stop,7h 00m,"29,166",4/1/2023
41,Air India,Goa,Mumbai,01:15,22:20,1 Stop,21h 05m,"31,129",4/1/2023
42,Air India,Goa,Mumbai,01:15,23:35,1 Stop,22h 20m,"31,129",4/1/2023
43,Air India,Goa,Mumbai,01:15,00:45,1 Stop,23h 30m,"31,129",4/1/2023
44,Vistara,Goa,Mumbai,21:55,08:00,1 Stop,10h 05m,"39,109",4/1/2023
45,Vistara,Goa,Mumbai,21:55,09:40,1 Stop,11h 45m,"39,109",4/1/2023
46,Vistara,Goa,Mumbai,21:55,12:35,1 Stop,14h 40m,"39,109",4/1/2023
47,Vistara,Goa,Mumbai,21:55,13:55,1 Stop,16h 00m,"39,109",4/1/2023
48,Vistara,Goa,Mumbai,21:55,15:00,1 Stop,17h 05m,"39,109",4/1/2023
49,Vistara,Goa,Mumbai,21:55,17:35,1 Stop,19h 40m,"39,109",4/1/2023
50,Vistara,Goa,Mumbai,21:55,19:05,1 Stop,21h 10m,"39,109",4/1/2023
51,Vistara,Goa,Mumbai,21:55,19:55,1 Stop,22h 00m,"39,109",4/1/2023
52,Vistara,Goa,Mumbai,21:55,16:30,1 Stop,18h 35m,"41,944",4/1/2023
53,Vistara,Goa,Mumbai,21:55,11:15,1 Stop,13h 20m,"43,519",4/1/2023
54,Vistara,Goa,Mumbai,21:55,11:35,1 Stop,13h 40m,"59,133",4/1/2023

In [91]:
DF2.to_csv('flight_data_2.csv')

In [92]:
driver.close()

## Goa-Mumbai 30 day interval

In [217]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [218]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [219]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [220]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('Goa')

In [221]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [223]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(5000):

    driver.execute_script("window.scrollBy(0,500000)")

In [224]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [228]:
#creating dataframe 

DF13=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/2/2023'})
DF13

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Air Asia,Goa,Mumbai,05:45,06:55,Non Stop,1h 10m,"2,600",4/2/2023
1,Air Asia,Goa,Mumbai,01:00,02:20,Non Stop,1h 20m,"2,600",4/2/2023
2,Go First,Goa,Mumbai,18:15,19:30,Non Stop,1h 15m,"2,605",4/2/2023
3,Go First,Goa,Mumbai,06:40,08:00,Non Stop,1h 20m,"2,605",4/2/2023
4,Go First,Goa,Mumbai,13:15,14:40,Non Stop,1h 25m,"2,605",4/2/2023
...,...,...,...,...,...,...,...,...,...
73,Air India,Goa,Mumbai,01:15,14:55,2 Stop(s),13h 40m,"16,744",4/2/2023
74,Air India,Goa,Mumbai,01:15,17:55,2 Stop(s),16h 40m,"18,699",4/2/2023
75,Air India,Goa,Mumbai,14:05,22:05,2 Stop(s),32h 00m,"18,942",4/2/2023
76,Air India,Goa,Mumbai,14:05,22:05,2 Stop(s),32h 00m,"18,942",4/2/2023
77,Air India,Goa,Mumbai,01:15,22:05,2 Stop(s),44h 50m,"18,942",4/2/2023

In [229]:
DF13.to_csv('flight_data_13.csv')

## Goa-Mumbai 15 day interval

In [250]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [251]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [252]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [253]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('Goa')

In [255]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [256]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(5000):

    driver.execute_script("window.scrollBy(0,500000)")

In [257]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [259]:
#creating dataframe 

DF16=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'19/1/2023'})
DF16

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,SpiceJet,Goa,Mumbai,22:50,23:50,Non Stop,1h 00m,"2,600",19/1/2023
1,Air Asia,Goa,Mumbai,02:55,04:00,Non Stop,1h 05m,"2,600",19/1/2023
2,Air Asia,Goa,Mumbai,05:45,06:55,Non Stop,1h 10m,"2,600",19/1/2023
3,SpiceJet,Goa,Mumbai,05:10,06:25,Non Stop,1h 15m,"2,600",19/1/2023
4,Air Asia,Goa,Mumbai,01:00,02:20,Non Stop,1h 20m,"2,600",19/1/2023
5,Go First,Goa,Mumbai,06:40,08:00,Non Stop,1h 20m,"2,605",19/1/2023
6,Go First,Goa,Mumbai,17:05,18:25,Non Stop,1h 20m,"2,605",19/1/2023
7,Go First,Goa,Mumbai,23:55,01:20,Non Stop,1h 25m,"2,605",19/1/2023
8,IndiGo,Goa,Mumbai,23:45,01:00,Non Stop,1h 15m,"3,000",19/1/2023
9,Go First,Goa,Mumbai,13:15,14:40,Non Stop,1h 25m,"3,206",19/1/2023
10,Alliance Air,Goa,Mumbai,21:00,22:30,Non Stop,1h 30m,"3,462",19/1/2023
11,Go First,Goa,Mumbai,18:15,19:30,Non Stop,1h 15m,"3,707",19/1/2023
12,IndiGo,Goa,Mumbai,18:45,19:55,Non Stop,1h 10m,"3,724",19/1/2023
13,Air India,Goa,Mumbai,23:10,00:20,Non Stop,1h 10m,"3,724",19/1/2023
14,Air India,Goa,Mumbai,06:50,08:10,Non Stop,1h 20m,"3,724",19/1/2023
15,Vistara,Goa,Mumbai,22:45,00:15,Non Stop,1h 30m,"3,724",19/1/2023
16,IndiGo,Goa,Mumbai,06:45,07:55,Non Stop,1h 10m,"4,249",19/1/2023
17,SpiceJet,Goa,Mumbai,13:05,14:20,Non Stop,1h 15m,"4,513",19/1/2023
18,SpiceJet,Goa,Mumbai,17:05,18:20,Non Stop,1h 15m,"4,879",19/1/2023
19,Air India,Goa,Mumbai,15:25,16:50,Non Stop,1h 25m,"4,879",19/1/2023
20,Vistara,Goa,Mumbai,13:20,14:45,Non Stop,1h 25m,"5,929",19/1/2023
21,Vistara,Goa,Mumbai,14:40,20:15,1 Stop,5h 35m,"7,536",19/1/2023
22,Vistara,Goa,Mumbai,14:40,20:40,1 Stop,6h 00m,"7,536",19/1/2023
23,Vistara,Goa,Mumbai,14:40,21:40,1 Stop,7h 00m,"7,536",19/1/2023
24,Vistara,Goa,Mumbai,14:40,23:20,1 Stop,8h 40m,"7,536",19/1/2023
25,Vistara,Goa,Mumbai,14:40,08:20,1 Stop,17h 40m,"7,536",19/1/2023
26,Vistara,Goa,Mumbai,14:40,13:05,1 Stop,22h 25m,"7,536",19/1/2023
27,Vistara,Goa,Mumbai,14:40,10:10,1 Stop,19h 30m,"8,533",19/1/2023
28,Vistara,Goa,Mumbai,14:40,11:25,1 Stop,20h 45m,"8,533",19/1/2023
29,Vistara,Goa,Mumbai,14:40,08:15,2 Stop(s),17h 35m,"10,524",19/1/2023
30,Vistara,Goa,Mumbai,14:40,10:00,2 Stop(s),19h 20m,"10,524",19/1/2023
31,Vistara,Goa,Mumbai,14:40,14:35,2 Stop(s),23h 55m,"10,524",19/1/2023
32,Vistara,Goa,Mumbai,14:40,14:35,2 Stop(s),23h 55m,"10,524",19/1/2023
33,Vistara,Goa,Mumbai,14:40,16:55,2 Stop(s),26h 15m,"10,525",19/1/2023
34,Vistara,Goa,Mumbai,14:40,16:55,2 Stop(s),26h 15m,"10,525",19/1/2023
35,IndiGo,Goa,Mumbai,13:05,14:25,Non Stop,1h 20m,"11,494",19/1/2023
36,Vistara,Goa,Mumbai,14:40,23:10,2 Stop(s),32h 30m,"11,890",19/1/2023
37,IndiGo,Goa,Mumbai,16:30,17:45,Non Stop,1h 15m,"12,334",19/1/2023
38,Air India,Goa,Mumbai,01:15,09:15,1 Stop,8h 00m,"12,859",19/1/2023
39,Air India,Goa,Mumbai,01:15,10:20,1 Stop,9h 05m,"12,859",19/1/2023
40,Air India,Goa,Mumbai,01:15,11:20,1 Stop,10h 05m,"12,859",19/1/2023
41,Air India,Goa,Mumbai,01:15,12:25,1 Stop,11h 10m,"12,859",19/1/2023
42,Air India,Goa,Mumbai,01:15,16:20,1 Stop,15h 05m,"12,859",19/1/2023
43,Air India,Goa,Mumbai,01:15,20:15,1 Stop,19h 00m,"12,859",19/1/2023
44,Vistara,Goa,Mumbai,21:55,08:00,1 Stop,10h 05m,"13,121",19/1/2023
45,Vistara,Goa,Mumbai,21:55,09:40,1 Stop,11h 45m,"13,121",19/1/2023
46,Vistara,Goa,Mumbai,21:55,11:15,1 Stop,13h 20m,"13,121",19/1/2023
47,Vistara,Goa,Mumbai,21:55,11:35,1 Stop,13h 40m,"13,121",19/1/2023
48,Air India,Goa,Mumbai,14:05,20:15,1 Stop,6h 10m,"13,384",19/1/2023
49,Air India,Goa,Mumbai,14:05,21:25,1 Stop,7h 20m,"13,384",19/1/2023
50,Air India,Goa,Mumbai,14:05,22:10,1 Stop,8h 05m,"13,384",19/1/2023
51,Air India,Goa,Mumbai,14:05,23:35,1 Stop,9h 30m,"13,384",19/1/2023
52,Air India,Goa,Mumbai,14:05,00:45,1 Stop,10h 40m,"13,384",19/1/2023
53,Vistara,Goa,Mumbai,14:25,21:15,1 Stop,6h 50m,"13,751",19/1/2023
54,Vistara,Goa,Mumbai,14:25,22:00,1 Stop,7h 35m,"13,752",19/1/2023

In [260]:
DF16.to_csv('flight_data_16.csv')

In [261]:
driver.close()

## Goa-Delhi 1 day interval

In [93]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [94]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [95]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [99]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('Goa')

In [98]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('delhi')

In [100]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [101]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(5000):

    driver.execute_script("window.scrollBy(0,500000)")

In [102]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [103]:
#creating dataframe 

DF3=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF3

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Go First,Goa,New Delhi,21:05,10:05,1 Stop,13h 00m,"10,039",4/1/2023
1,SpiceJet,Goa,New Delhi,22:50,09:30,1 Stop,10h 40m,"11,117",4/1/2023
2,SpiceJet,Goa,New Delhi,22:50,12:20,1 Stop,13h 30m,"11,117",4/1/2023
3,SpiceJet,Goa,New Delhi,20:55,23:50,Non Stop,2h 55m,"11,443",4/1/2023
4,IndiGo,Goa,New Delhi,14:15,16:45,Non Stop,2h 30m,"11,479",4/1/2023
...,...,...,...,...,...,...,...,...,...
136,Vistara,Goa,New Delhi,00:40,16:45,2 Stop(s),16h 05m,"25,037",4/1/2023
137,Vistara,Goa,New Delhi,00:40,17:10,2 Stop(s),16h 30m,"25,491",4/1/2023
138,Vistara,Goa,New Delhi,00:40,22:00,2 Stop(s),21h 20m,"25,491",4/1/2023
139,Vistara,Goa,New Delhi,00:40,22:00,2 Stop(s),21h 20m,"25,491",4/1/2023
140,Vistara,Goa,New Delhi,21:55,00:40,Non Stop,2h 45m,"32,179",4/1/2023

In [104]:
DF3.to_csv('flight_data_3.csv')

In [105]:
driver.close()

## Goa-Delhi 30 day interval

In [206]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [207]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [208]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [209]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('Goa')

In [210]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('delhi')

In [211]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [212]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(5000):

    driver.execute_script("window.scrollBy(0,500000)")

In [213]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [214]:
#creating dataframe 

DF12=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/2/2023'})
DF12

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Air Asia,Goa,New Delhi,23:05,01:45,Non Stop,2h 40m,"6,392",4/2/2023
1,Go First,Goa,New Delhi,19:05,00:50,1 Stop,5h 45m,"6,846",4/2/2023
2,Go First,Goa,New Delhi,17:05,23:30,1 Stop,6h 25m,"6,846",4/2/2023
3,Go First,Goa,New Delhi,13:15,19:50,1 Stop,6h 35m,"6,846",4/2/2023
4,Go First,Goa,New Delhi,18:15,01:05,1 Stop,6h 50m,"6,846",4/2/2023
...,...,...,...,...,...,...,...,...,...
125,Air India,Goa,New Delhi,23:10,00:20,2 Stop(s),25h 10m,"13,904",4/2/2023
126,Air India,Goa,New Delhi,15:25,00:20,2 Stop(s),32h 55m,"13,904",4/2/2023
127,Air India,Goa,New Delhi,06:50,17:30,2 Stop(s),10h 40m,"14,639",4/2/2023
128,IndiGo,Goa,New Delhi,16:30,22:15,1 Stop,5h 45m,"14,907",4/2/2023
129,Air India,Goa,New Delhi,15:25,23:10,2 Stop(s),7h 45m,"26,131",4/2/2023

In [215]:
DF12.to_csv('flight_data_12.csv')

In [216]:
driver.close()

## Goa-Delhi 15 day interval

In [262]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [263]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [264]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [266]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('Goa')

In [267]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('delhi')

In [268]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [269]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(5000):

    driver.execute_script("window.scrollBy(0,500000)")

In [272]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [273]:
#creating dataframe 

DF17=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'19/1/2023'})
DF17

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Air Asia,Goa,New Delhi,23:05,01:45,Non Stop,2h 40m,"6,392",19/1/2023
1,Go First,Goa,New Delhi,17:40,20:20,Non Stop,2h 40m,"6,823",19/1/2023
2,Go First,Goa,New Delhi,14:00,00:10,1 Stop,10h 10m,"6,846",19/1/2023
3,SpiceJet,Goa,New Delhi,05:10,12:20,1 Stop,7h 10m,"6,993",19/1/2023
4,SpiceJet,Goa,New Delhi,22:50,09:30,1 Stop,10h 40m,"6,993",19/1/2023
...,...,...,...,...,...,...,...,...,...
115,Air Asia,Goa,New Delhi,14:45,01:40,2 Stop(s),10h 55m,"15,907",19/1/2023
116,IndiGo,Goa,New Delhi,13:05,17:35,1 Stop,4h 30m,"17,427",19/1/2023
117,IndiGo,Goa,New Delhi,13:05,19:30,1 Stop,6h 25m,"17,427",19/1/2023
118,IndiGo,Goa,New Delhi,16:30,22:15,1 Stop,5h 45m,"18,057",19/1/2023
119,Air India,Goa,New Delhi,15:25,23:10,2 Stop(s),7h 45m,"40,936",19/1/2023

In [274]:
DF17.to_csv('flight_data_17.csv')

In [275]:
driver.close()

## Chennai-Mumbai 1 day interval

In [106]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [107]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [108]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [109]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('chennai')

In [110]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [111]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [112]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [279]:
#creating dataframe 

DF4=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF4

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Air Asia,Goa,New Delhi,23:05,01:45,Non Stop,2h 40m,"6,392",4/1/2023
1,Go First,Goa,New Delhi,17:40,20:20,Non Stop,2h 40m,"6,823",4/1/2023
2,Go First,Goa,New Delhi,14:00,00:10,1 Stop,10h 10m,"6,846",4/1/2023
3,SpiceJet,Goa,New Delhi,05:10,12:20,1 Stop,7h 10m,"6,993",4/1/2023
4,SpiceJet,Goa,New Delhi,22:50,09:30,1 Stop,10h 40m,"6,993",4/1/2023
...,...,...,...,...,...,...,...,...,...
115,Air Asia,Goa,New Delhi,14:45,01:40,2 Stop(s),10h 55m,"15,907",4/1/2023
116,IndiGo,Goa,New Delhi,13:05,17:35,1 Stop,4h 30m,"17,427",4/1/2023
117,IndiGo,Goa,New Delhi,13:05,19:30,1 Stop,6h 25m,"17,427",4/1/2023
118,IndiGo,Goa,New Delhi,16:30,22:15,1 Stop,5h 45m,"18,057",4/1/2023
119,Air India,Goa,New Delhi,15:25,23:10,2 Stop(s),7h 45m,"40,936",4/1/2023

In [114]:
DF4.to_csv('flight_data_4.csv')

In [115]:
driver.close()

## Chennai-Mumbai 30 day interval

In [190]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [191]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [192]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [193]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('chennai')

In [195]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [196]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [201]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [202]:
len(price),len(filght_name),len(dep_name),len(arr_name),len(dep_time),len(arr_time),len(tot_time),len(tot_stop),len(price)

(35, 35, 35, 35, 35, 35, 35, 35, 35)

In [203]:
#creating dataframe 

DF11=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/2/2023'})
DF11

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,IndiGo,Chennai,Mumbai,22:25,00:20,Non Stop,1h 55m,"2,721",4/2/2023
1,SpiceJet,Chennai,Mumbai,06:00,08:00,Non Stop,2h 00m,"2,729",4/2/2023
2,SpiceJet,Chennai,Mumbai,21:30,23:40,Non Stop,2h 10m,"2,729",4/2/2023
3,Go First,Chennai,Mumbai,13:45,15:40,Non Stop,1h 55m,"2,874",4/2/2023
4,Vistara,Chennai,Mumbai,20:30,22:30,Non Stop,2h 00m,"2,874",4/2/2023
5,Air India,Chennai,Mumbai,06:10,08:10,Non Stop,2h 00m,"2,914",4/2/2023
6,IndiGo,Chennai,Mumbai,08:30,10:20,Non Stop,1h 50m,"3,398",4/2/2023
7,IndiGo,Chennai,Mumbai,20:00,21:55,Non Stop,1h 55m,"3,398",4/2/2023
8,IndiGo,Chennai,Mumbai,09:55,11:55,Non Stop,2h 00m,"3,398",4/2/2023
9,IndiGo,Chennai,Mumbai,18:10,20:10,Non Stop,2h 00m,"3,398",4/2/2023
10,Vistara,Chennai,Mumbai,07:00,09:00,Non Stop,2h 00m,"3,399",4/2/2023
11,Vistara,Chennai,Mumbai,09:40,11:45,Non Stop,2h 05m,"3,399",4/2/2023
12,Air India,Chennai,Mumbai,07:55,10:00,Non Stop,2h 05m,"3,418",4/2/2023
13,Air India,Chennai,Mumbai,20:20,22:45,Non Stop,2h 25m,"3,418",4/2/2023
14,Air Asia,Chennai,Mumbai,12:55,19:00,1 Stop,6h 05m,"3,457",4/2/2023
15,Air Asia,Chennai,Mumbai,12:55,21:00,1 Stop,8h 05m,"3,457",4/2/2023
16,Air Asia,Chennai,Mumbai,12:55,00:40,1 Stop,11h 45m,"3,457",4/2/2023
17,Air Asia,Chennai,Mumbai,06:45,19:00,1 Stop,12h 15m,"3,457",4/2/2023
18,Air Asia,Chennai,Mumbai,06:45,21:00,1 Stop,14h 15m,"3,457",4/2/2023
19,IndiGo,Chennai,Mumbai,12:15,16:55,1 Stop,4h 40m,"3,544",4/2/2023
20,IndiGo,Chennai,Mumbai,16:05,21:10,1 Stop,5h 05m,"3,544",4/2/2023
21,IndiGo,Chennai,Mumbai,10:15,16:55,1 Stop,6h 40m,"3,544",4/2/2023
22,IndiGo,Chennai,Mumbai,11:25,13:20,Non Stop,1h 55m,"3,766",4/2/2023
23,IndiGo,Chennai,Mumbai,12:55,14:50,Non Stop,1h 55m,"4,133",4/2/2023
24,Vistara,Chennai,Mumbai,12:30,14:30,Non Stop,2h 00m,"4,239",4/2/2023
25,IndiGo,Chennai,Mumbai,18:10,23:25,1 Stop,5h 15m,"4,573",4/2/2023
26,IndiGo,Chennai,Mumbai,19:15,00:50,1 Stop,5h 35m,"4,573",4/2/2023
27,IndiGo,Chennai,Mumbai,18:10,00:50,1 Stop,6h 40m,"4,573",4/2/2023
28,IndiGo,Chennai,Mumbai,16:40,23:25,1 Stop,6h 45m,"4,573",4/2/2023
29,Air India,Chennai,Mumbai,15:45,17:55,Non Stop,2h 10m,"4,909",4/2/2023
30,IndiGo,Chennai,Mumbai,23:45,06:20,1 Stop,6h 35m,"5,929",4/2/2023
31,IndiGo,Chennai,Mumbai,16:40,21:15,1 Stop,4h 35m,"6,024",4/2/2023
32,SpiceJet,Chennai,Mumbai,19:05,23:50,1 Stop,4h 45m,"6,038",4/2/2023
33,SpiceJet,Chennai,Mumbai,19:05,06:25,1 Stop,11h 20m,"6,038",4/2/2023
34,IndiGo,Chennai,Mumbai,18:25,01:00,1 Stop,6h 35m,"6,421",4/2/2023

In [204]:
DF11.to_csv('flight_data_11.csv')

In [205]:
driver.close()

## Chennai-Mumbai 15 day interval

In [276]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [277]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [278]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [280]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('chennai')

In [281]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [282]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [283]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [284]:
#creating dataframe 

DF18=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'19/1/2023'})
DF18

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,IndiGo,Chennai,Mumbai,22:25,00:20,Non Stop,1h 55m,"2,721",19/1/2023
1,IndiGo,Chennai,Mumbai,21:05,23:05,Non Stop,2h 00m,"2,721",19/1/2023
2,IndiGo,Chennai,Mumbai,11:25,13:20,Non Stop,1h 55m,"3,398",19/1/2023
3,IndiGo,Chennai,Mumbai,20:00,21:55,Non Stop,1h 55m,"3,398",19/1/2023
4,IndiGo,Chennai,Mumbai,09:55,12:00,Non Stop,2h 05m,"3,398",19/1/2023
...,...,...,...,...,...,...,...,...,...
90,Vistara,Chennai,Mumbai,07:05,21:15,1 Stop,14h 10m,"13,708",19/1/2023
91,Vistara,Chennai,Mumbai,07:05,22:00,1 Stop,14h 55m,"13,708",19/1/2023
92,Vistara,Chennai,Mumbai,07:05,09:40,2 Stop(s),26h 35m,"13,892",19/1/2023
93,Air India,Chennai,Mumbai,20:30,18:05,2 Stop(s),21h 35m,"13,953",19/1/2023
94,Air India,Chennai,Mumbai,16:55,18:05,2 Stop(s),25h 10m,"13,953",19/1/2023

In [285]:
DF18.to_csv('flight_data_18.csv')

In [286]:
driver.close()

## Chennai-Pune 1 day interval

In [116]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [117]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [118]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [122]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('chennai')

In [124]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('pune')

In [125]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [126]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [127]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [128]:
#creating dataframe 

DF5=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF5

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,IndiGo,Chennai,Pune,22:05,04:05,1 Stop,6h 00m,"3,194",4/1/2023
1,IndiGo,Chennai,Pune,22:05,06:45,1 Stop,8h 40m,"3,194",4/1/2023
2,IndiGo,Chennai,Pune,18:10,02:00,1 Stop,7h 50m,"3,395",4/1/2023
3,Air Asia,Chennai,Pune,22:15,05:00,1 Stop,6h 45m,"3,594",4/1/2023
4,Air Asia,Chennai,Pune,12:55,22:35,1 Stop,9h 40m,"4,163",4/1/2023
...,...,...,...,...,...,...,...,...,...
77,Vistara,Chennai,Pune,12:30,22:05,2 Stop(s),9h 35m,"23,152",4/1/2023
78,Air India,Chennai,Pune,06:10,18:10,2 Stop(s),12h 00m,"23,999",4/1/2023
79,Vistara,Chennai,Pune,11:20,19:40,1 Stop,8h 20m,"24,628",4/1/2023
80,Vistara,Chennai,Pune,07:05,19:40,1 Stop,12h 35m,"24,628",4/1/2023
81,Vistara,Chennai,Pune,09:40,19:40,2 Stop(s),10h 00m,"30,823",4/1/2023

In [129]:
DF5.to_csv('flight_data_5.csv')

In [130]:
driver.close()

## Chennai-Pune 30 day interval

In [176]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [177]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [178]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [181]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('chennai')

In [182]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('pune')

In [183]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [184]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [185]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [187]:
#creating dataframe 

DF10=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/2/2023'})
DF10

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Air Asia,Chennai,Pune,22:15,05:00,1 Stop,6h 45m,"2,607",4/2/2023
1,Air Asia,Chennai,Pune,12:55,22:35,1 Stop,9h 40m,"2,962",4/2/2023
2,IndiGo,Chennai,Pune,22:05,06:45,1 Stop,8h 40m,"3,587",4/2/2023
3,IndiGo,Chennai,Pune,19:15,02:00,1 Stop,6h 45m,"3,788",4/2/2023
4,IndiGo,Chennai,Pune,18:10,02:00,1 Stop,7h 50m,"3,788",4/2/2023
...,...,...,...,...,...,...,...,...,...
73,Vistara,Chennai,Pune,09:40,19:40,2 Stop(s),10h 00m,"15,842",4/2/2023
74,Air India,Chennai,Pune,15:45,07:00,2 Stop(s),15h 15m,"16,039",4/2/2023
75,Vistara,Chennai,Pune,07:00,16:20,2 Stop(s),9h 20m,"16,209",4/2/2023
76,IndiGo,Chennai,Pune,17:55,04:10,1 Stop,10h 15m,"17,488",4/2/2023
77,Air India,Chennai,Pune,05:05,18:10,2 Stop(s),13h 05m,"32,890",4/2/2023

In [188]:
DF10.to_csv('flight_data_10.csv')

In [189]:
driver.close()

## Chennai-Pune 15 day interval

In [287]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [288]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [289]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [290]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('chennai')

In [291]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('pune')

In [292]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [293]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [296]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [297]:
#creating dataframe 

DF19=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'19/1/2023'})
DF19

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Air Asia,Chennai,Pune,22:15,05:00,1 Stop,6h 45m,"2,921",19/1/2023
1,Air Asia,Chennai,Pune,12:55,22:35,1 Stop,9h 40m,"3,278",19/1/2023
2,IndiGo,Chennai,Pune,23:45,04:05,1 Stop,4h 20m,"3,395",19/1/2023
3,IndiGo,Chennai,Pune,22:05,04:05,1 Stop,6h 00m,"3,395",19/1/2023
4,IndiGo,Chennai,Pune,23:45,06:45,1 Stop,7h 00m,"3,395",19/1/2023
...,...,...,...,...,...,...,...,...,...
70,Air India,Chennai,Pune,16:55,12:10,2 Stop(s),19h 15m,"14,758",19/1/2023
71,Air India,Chennai,Pune,16:55,18:10,1 Stop,25h 15m,"14,758",19/1/2023
72,Vistara,Chennai,Pune,17:25,22:55,1 Stop,5h 30m,"14,863",19/1/2023
73,Vistara,Chennai,Pune,11:20,22:55,1 Stop,11h 35m,"14,863",19/1/2023
74,Vistara,Chennai,Pune,07:05,19:40,1 Stop,12h 35m,"15,388",19/1/2023

In [298]:
DF19.to_csv('flight_data_19.csv')

In [299]:
driver.close()

## Delhi-Nagpur 1 day interval

In [131]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [132]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [133]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [134]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('nagpur')

In [136]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [137]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [138]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [139]:
#creating dataframe 

DF6=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF6

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Go First,New Delhi,Nagpur,20:40,22:15,Non Stop,1h 35m,"6,271",4/1/2023
1,IndiGo,New Delhi,Nagpur,05:15,07:00,Non Stop,1h 45m,"6,970",4/1/2023
2,IndiGo,New Delhi,Nagpur,20:10,21:50,Non Stop,1h 40m,"8,684",4/1/2023
3,IndiGo,New Delhi,Nagpur,09:35,11:20,Non Stop,1h 45m,"8,684",4/1/2023
4,IndiGo,New Delhi,Nagpur,14:50,16:35,Non Stop,1h 45m,"8,684",4/1/2023
5,IndiGo,New Delhi,Nagpur,05:15,14:35,1 Stop,9h 20m,"8,867",4/1/2023
6,IndiGo,New Delhi,Nagpur,09:25,14:35,1 Stop,5h 10m,"9,602",4/1/2023
7,IndiGo,New Delhi,Nagpur,22:00,07:50,1 Stop,9h 50m,"10,884",4/1/2023
8,IndiGo,New Delhi,Nagpur,05:15,12:15,1 Stop,7h 00m,"11,066",4/1/2023
9,IndiGo,New Delhi,Nagpur,23:40,07:50,1 Stop,8h 10m,"11,178",4/1/2023
10,Air India,New Delhi,Nagpur,21:20,07:05,1 Stop,9h 45m,"11,625",4/1/2023
11,Air India,New Delhi,Nagpur,20:10,07:05,1 Stop,10h 55m,"11,625",4/1/2023
12,Air India,New Delhi,Nagpur,14:30,07:05,2 Stop(s),16h 35m,"11,625",4/1/2023
13,Air India,New Delhi,Nagpur,08:00,07:05,1 Stop,23h 05m,"11,625",4/1/2023
14,IndiGo,New Delhi,Nagpur,13:30,22:10,1 Stop,8h 40m,"13,360",4/1/2023
15,IndiGo,New Delhi,Nagpur,20:20,07:50,1 Stop,11h 30m,"13,383",4/1/2023
16,Air India,New Delhi,Nagpur,16:55,07:05,2 Stop(s),14h 10m,"13,662",4/1/2023
17,IndiGo,New Delhi,Nagpur,16:15,22:10,1 Stop,5h 55m,"13,735",4/1/2023
18,Air India,New Delhi,Nagpur,15:35,07:05,2 Stop(s),15h 30m,"19,437",4/1/2023
19,Air India,New Delhi,Nagpur,16:10,07:05,2 Stop(s),14h 55m,"26,979",4/1/2023

In [140]:
DF6.to_csv('flight_data_6.csv')

In [141]:
driver.close()

## Delhi-Nagpur 30 day interval

In [165]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [166]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [167]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [168]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('nagpur')

In [170]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [171]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [172]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [240]:
#creating dataframe 

DF9=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF9

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Go First,New Delhi,Mumbai,06:00,10:45,1 Stop,4h 45m,"4,240",4/1/2023
1,Go First,New Delhi,Mumbai,06:00,16:15,1 Stop,10h 15m,"4,240",4/1/2023
2,IndiGo,New Delhi,Mumbai,06:20,16:10,1 Stop,9h 50m,"4,838",4/1/2023
3,IndiGo,New Delhi,Mumbai,23:40,05:50,1 Stop,6h 10m,"4,948",4/1/2023
4,IndiGo,New Delhi,Mumbai,05:00,10:05,1 Stop,5h 05m,"5,102",4/1/2023
...,...,...,...,...,...,...,...,...,...
155,IndiGo,New Delhi,Mumbai,12:55,19:55,1 Stop,7h 00m,"11,362",4/1/2023
156,IndiGo,New Delhi,Mumbai,15:10,21:25,1 Stop,6h 15m,"11,572",4/1/2023
157,IndiGo,New Delhi,Mumbai,16:55,21:25,1 Stop,4h 30m,"11,782",4/1/2023
158,IndiGo,New Delhi,Mumbai,11:25,21:25,1 Stop,10h 00m,"12,097",4/1/2023
159,Go First,New Delhi,Mumbai,11:50,18:10,1 Stop,6h 20m,"13,694",4/1/2023

In [174]:
DF9.to_csv('flight_data_.csv')

In [175]:
driver.close()

## Delhi-Nagpur 15 day interval

In [300]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [301]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [302]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [303]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[3]/div/input')
search_job.send_keys('nagpur')

In [304]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [305]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [306]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [307]:
#creating dataframe 

DF20=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'19/1/2023'})
DF20

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Go First,New Delhi,Nagpur,20:40,22:15,Non Stop,1h 35m,"4,853",19/1/2023
1,IndiGo,New Delhi,Nagpur,20:10,21:50,Non Stop,1h 40m,"5,114",19/1/2023
2,IndiGo,New Delhi,Nagpur,05:15,07:00,Non Stop,1h 45m,"5,114",19/1/2023
3,IndiGo,New Delhi,Nagpur,09:35,11:20,Non Stop,1h 45m,"5,114",19/1/2023
4,IndiGo,New Delhi,Nagpur,14:50,16:35,Non Stop,1h 45m,"5,114",19/1/2023
5,IndiGo,New Delhi,Nagpur,14:55,20:25,1 Stop,5h 30m,"6,322",19/1/2023
6,IndiGo,New Delhi,Nagpur,13:30,20:25,1 Stop,6h 55m,"6,322",19/1/2023
7,IndiGo,New Delhi,Nagpur,23:40,07:50,1 Stop,8h 10m,"7,331",19/1/2023
8,IndiGo,New Delhi,Nagpur,06:20,15:30,1 Stop,9h 10m,"8,090",19/1/2023
9,IndiGo,New Delhi,Nagpur,05:00,15:30,1 Stop,10h 30m,"8,090",19/1/2023
10,IndiGo,New Delhi,Nagpur,22:00,07:50,1 Stop,9h 50m,"8,141",19/1/2023
11,IndiGo,New Delhi,Nagpur,20:20,07:50,1 Stop,11h 30m,"8,141",19/1/2023
12,IndiGo,New Delhi,Nagpur,09:40,15:30,1 Stop,5h 50m,"8,900",19/1/2023
13,Air India,New Delhi,Nagpur,22:30,07:05,1 Stop,8h 35m,"9,840",19/1/2023
14,Air India,New Delhi,Nagpur,21:20,07:05,1 Stop,9h 45m,"9,840",19/1/2023
15,Air India,New Delhi,Nagpur,20:00,07:05,1 Stop,11h 05m,"9,840",19/1/2023
16,Air India,New Delhi,Nagpur,19:00,07:05,1 Stop,12h 05m,"9,840",19/1/2023
17,Air India,New Delhi,Nagpur,17:50,07:05,1 Stop,13h 15m,"9,840",19/1/2023
18,Air India,New Delhi,Nagpur,14:00,07:05,1 Stop,17h 05m,"9,840",19/1/2023
19,Air India,New Delhi,Nagpur,10:00,07:05,1 Stop,21h 05m,"9,840",19/1/2023
20,Air India,New Delhi,Nagpur,09:00,07:05,1 Stop,22h 05m,"9,840",19/1/2023
21,Air India,New Delhi,Nagpur,08:00,07:05,1 Stop,23h 05m,"9,840",19/1/2023
22,Air India,New Delhi,Nagpur,07:00,07:05,1 Stop,24h 05m,"9,840",19/1/2023
23,Air India,New Delhi,Nagpur,14:30,07:05,2 Stop(s),16h 35m,"10,365",19/1/2023
24,Air India,New Delhi,Nagpur,16:55,07:05,2 Stop(s),14h 10m,"12,087",19/1/2023
25,Air India,New Delhi,Nagpur,15:35,07:05,2 Stop(s),15h 30m,"12,087",19/1/2023
26,Air India,New Delhi,Nagpur,10:55,07:05,2 Stop(s),20h 10m,"13,224",19/1/2023
27,Air India,New Delhi,Nagpur,16:50,07:05,2 Stop(s),14h 15m,"13,725",19/1/2023
28,Air India,New Delhi,Nagpur,10:55,07:05,2 Stop(s),20h 10m,"14,148",19/1/2023
29,IndiGo,New Delhi,Nagpur,09:25,14:35,1 Stop,5h 10m,"14,707",19/1/2023
30,Air India,New Delhi,Nagpur,16:10,07:05,2 Stop(s),14h 55m,"15,531",19/1/2023
31,IndiGo,New Delhi,Nagpur,05:15,14:35,1 Stop,9h 20m,"15,862",19/1/2023

In [308]:
DF20.to_csv('flight_data_20.csv')

In [309]:
driver.close()

## Mumbai-Nagpur 1 day interval

In [142]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [143]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [144]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [146]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('nagpur')

In [148]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [149]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [150]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [151]:
#creating dataframe 

DF7=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF7

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,IndiGo,Nagpur,Mumbai,19:35,21:10,Non Stop,1h 35m,"5,616",4/1/2023
1,IndiGo,Nagpur,Mumbai,15:30,17:15,Non Stop,1h 45m,"5,879",4/1/2023
2,IndiGo,Nagpur,Mumbai,06:00,07:30,Non Stop,1h 30m,"6,246",4/1/2023
3,Air India,Nagpur,Mumbai,07:50,09:30,Non Stop,1h 40m,"6,666",4/1/2023
4,IndiGo,Nagpur,Mumbai,11:05,12:45,Non Stop,1h 40m,"7,002",4/1/2023
5,Go First,Nagpur,Mumbai,22:45,00:10,Non Stop,1h 25m,"7,193",4/1/2023
6,IndiGo,Nagpur,Mumbai,22:30,05:50,1 Stop,7h 20m,"8,819",4/1/2023
7,Go First,Nagpur,Mumbai,09:25,10:50,Non Stop,1h 25m,"10,027",4/1/2023
8,IndiGo,Nagpur,Mumbai,22:30,07:55,1 Stop,9h 25m,"10,134",4/1/2023
9,IndiGo,Nagpur,Mumbai,13:00,23:35,1 Stop,10h 35m,"10,776",4/1/2023
10,IndiGo,Nagpur,Mumbai,13:00,18:40,1 Stop,5h 40m,"11,231",4/1/2023
11,IndiGo,Nagpur,Mumbai,13:00,20:00,1 Stop,7h 00m,"11,231",4/1/2023
12,IndiGo,Nagpur,Mumbai,12:55,23:00,1 Stop,10h 05m,"12,110",4/1/2023
13,IndiGo,Nagpur,Mumbai,09:00,17:50,1 Stop,8h 50m,"12,231",4/1/2023
14,IndiGo,Nagpur,Mumbai,12:55,17:50,1 Stop,4h 55m,"17,045",4/1/2023

In [152]:
DF7.to_csv('flight_data_7.csv')

In [153]:
driver.close()

## Mumbai-Nagpur 30 day interval

In [154]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [155]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [156]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [158]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('nagpur')

In [159]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [160]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [161]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [162]:
#creating dataframe 

DF8=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'4/1/2023'})
DF8

,Flight Name,Depart Location,Arrival Location,Depart Time,Arrival Time,Total Stop,Total Time,Price,Date of Journey
0,Go First,Nagpur,Mumbai,09:25,10:50,Non Stop,1h 25m,"3,994",4/1/2023
1,Go First,Nagpur,Mumbai,22:40,00:10,Non Stop,1h 30m,"3,994",4/1/2023
2,Air India,Nagpur,Mumbai,07:50,09:30,Non Stop,1h 40m,"4,566",4/1/2023
3,IndiGo,Nagpur,Mumbai,11:05,12:45,Non Stop,1h 40m,"4,829",4/1/2023
4,IndiGo,Nagpur,Mumbai,06:00,07:30,Non Stop,1h 30m,"5,406",4/1/2023
5,IndiGo,Nagpur,Mumbai,20:45,05:50,1 Stop,9h 05m,"6,866",4/1/2023
6,IndiGo,Nagpur,Mumbai,15:30,17:15,Non Stop,1h 45m,"7,002",4/1/2023
7,IndiGo,Nagpur,Mumbai,20:45,07:55,1 Stop,11h 10m,"8,499",4/1/2023
8,IndiGo,Nagpur,Mumbai,19:35,21:10,Non Stop,1h 35m,"8,745",4/1/2023
9,IndiGo,Nagpur,Mumbai,12:55,17:50,1 Stop,4h 55m,"9,165",4/1/2023
10,IndiGo,Nagpur,Mumbai,08:15,16:10,1 Stop,7h 55m,"9,165",4/1/2023
11,IndiGo,Nagpur,Mumbai,12:55,23:00,1 Stop,10h 05m,"10,286",4/1/2023
12,IndiGo,Nagpur,Mumbai,08:15,18:40,1 Stop,10h 25m,"10,665",4/1/2023
13,IndiGo,Nagpur,Mumbai,14:55,19:45,1 Stop,4h 50m,"11,483",4/1/2023
14,IndiGo,Nagpur,Mumbai,14:55,21:10,1 Stop,6h 15m,"11,483",4/1/2023
15,IndiGo,Nagpur,Mumbai,14:55,00:15,1 Stop,9h 20m,"11,483",4/1/2023

In [163]:
DF8.to_csv('flight_data_8.csv')

In [164]:
driver.close()

## Mumbai-Nagpur 15 day interval

In [310]:
# lets import nec library
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [311]:
#lets first connect webdriver
driver=webdriver.Chrome('chromedriver')

#maximize the automated window
driver.maximize_window()

In [312]:
#open the link 
url='https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=DEL&originCountry=IN&destination=BOM&destinationCountry=IN&flight_depart_date=04%2F01%2F2023&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=71911160047'
driver.get(url)

In [313]:
# entering Carwow
search_job=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/ul[2]/li[2]/div/input')
search_job.send_keys('nagpur')

In [314]:
# click search button
search_btn=driver.find_element(By.XPATH,'/html/body/section[1]/section/div/div/form/div[1]/div/button/span')
search_btn.click()

In [ ]:
#5000 time we scroll down for getting atleast 500 comments

for _ in range(50000):

    driver.execute_script("window.scrollBy(0,500000)")

In [ ]:
#filght_name
filght_name=[]
names = driver.find_elements(By.XPATH,'//span[@class="i-b text ellipsis"]')

for name in names[0:500]:

    filght_name.append(name.text)
    
    
#dep_name
dep_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')

for name in names[0:500]:

    dep_name.append(name.text)
    
    
#arr_name
arr_name=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')

for name in names[0:500]:

    arr_name.append(name.text)
    

#dep_time
dep_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pr"]')

for name in names[0:500]:

    dep_time.append(name.text)
    
    
    
#arr_time
arr_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b pdd-0 text-left atime col-5"]/p[1]')

for name in names[0:500]:

    arr_time.append(name.text.split('\n')[0])
    
    
    
#tot_time
tot_time=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/p')

for name in names[0:500]:

    tot_time.append(name.text)
    
    
    
#tot_stop
tot_stop=[]
names = driver.find_elements(By.XPATH,'//div[@class="stop-cont pl-13"]/div/span')

for name in names[0:500]:

    tot_stop.append(name.text)
    
    
    
#price
price=[]
names = driver.find_elements(By.XPATH,'//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

for name in names[0:500]:

    price.append(name.text)

In [ ]:
#creating dataframe 

DF21=pd.DataFrame({'Flight Name':filght_name,'Depart Location':dep_name,'Arrival Location':arr_name, 'Depart Time':dep_time ,'Arrival Time':arr_time , 'Total Stop':tot_stop ,'Total Time':tot_time,'Price':price,'Date of Journey':'19/1/2023'})
DF21

In [ ]:
DF21.to_csv('flight_data_21.csv')

In [ ]:
driver.close()